@charset "UTF-8";

/*vAuto Code Test CSS - Chris Sealy*/

body {
    background: #faf9f8 url("../img/site-bkgd.jpg") repeat scroll 0 0;
    color: #554d47;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

a{
    cursor: pointer;
}

#mainContent {
    display: block;
    height: 600px;
    margin: 0 auto;
    width: 960px;
}

#mainContent h1 {
    color: #554d47;
    font-size: 35px;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 40px;
    width: 404px;
}

#listArea {
    display: block;
    float: left;
    height: 500px;
    width: 460px;
}

#resultArea {
    border-left: 2px solid;
    clear: right;
    display: block;
    float: left;
    padding-left: 40px;
    width: 420px;
    max-width: 420px;
    height: 500px;
}

/* CSS3 Button animation */
.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.btn-wrapper {
    display: block;
    left: 25%;
    margin: 20px auto;
    position: relative;
    text-align: center;
}